.doctor-details-container {
  padding-top: 60px;
  padding-left: 20rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.doctor-details-image {
  width: 300px;
  height: 300px;
  border: 3px solid lightblue;
  margin: 20px;
}

.doctor-details-specialization,
.doctor-details-name,
.doctor-details-city,
.doctor-details-fee,
.doctor-details-experience {
  color: black;
}

.doctor-details-button {
  background-color: lightblue;
  color: white;
  border-radius: 10px;
  border: none;
  width: 90px;
  height: 20px;
  cursor: pointer;
}
