.main {
  padding-top: 60px; /* Adjust the value to match the height of your header */
}

.doctors-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  margin: 20px;
}

.doctor-card {
  justify-self: center;
}

.doctor-list-title {
  text-align: center;
}

.doctor-list-subtitle {
  text-align: center;
}

.dotted-line {
  border: 2px dotted gainsboro; /* Set border width, style, and color */
  width: 150px;
}

.doctor-image {
  width: 100px;
  height: 100px;
  border: 5px solid lightblue;
  border-radius: 50px;
}
