.reservation-card {
  flex: 0 0 calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.reservation-image {
  width: 180px;
  height: 180px;
  border: 5px solid lightblue;
}

.reservation-name {
  font-size: 15px;
  letter-spacing: 2px;
}

.reservation-city {
  margin-top: 1px;
  font-size: 13px;
  color: #c4c4c4;
}

.reservation-details {
  background-color: maroon;
  color: white;
  border-radius: 10px;
  padding: 5px;
  border: none;
  width: 60px;
  height: 25px;
}

@media only screen and (max-width: 600px) {
  .reservation-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
  }

  .reservation-image {
    width: 190px;
    height: 160px;
    border: 5px solid lightblue;
  }
}

@media only screen and (max-width: 800px) {
  .reservation-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
  }

  .reservation-image {
    width: 190px;
    height: 160px;
    border: 5px solid lightblue;
  }
}
