.sign-in-form {
  padding-top: 12rem;
  background-image: url(../assets/doc-back.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
}

.sign-in-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.email-input,
.password-input {
  width: 300px;
  height: 35px;
  margin: 10px;
  border-radius: 15px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding-left: 5px;
  border: 5px solid #96bf00;
}

.sign-in-button {
  margin: 20px;
  border: none;
  background-color: white;
  height: 45px;
  width: 120px;
  border-radius: 25px;
  color: #96bf00;
}

.sign-in-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.sign-out-button {
  border: none;
  background: none;
  color: white;
  text-decoration: underline;
}
