.sign-in-form {
  padding-top: 16rem;
  background-image: url(../assets/doc-back.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-log {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
