body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.header-book-btn-space {
  margin-top: 20px;
}

.sidebar {
  position: fixed;
  top: 0;
  width: 170px;
  height: 100vh;
  transition: left 0.3s ease-in-out;
  border-right: rgba(212, 211, 211, 0.6) 2px solid;
  background-color: whitesmoke;
  padding: 10px;
}

.logo {
  width: 150px;
  height: 150px;
}

.header {
  background-image: url(../images/doctor.png);
  background-size: 700px 553px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(255, 176, 0);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-title {
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.header-book-btn {
  background-color: rgb(140, 192, 38);
  border-radius: 25px;
  padding: 15px;
  color: #fff;
  font-weight: bold;
  width: 100px;
  cursor: pointer;
}

.header-book-btn-signup {
  color: rgb(140, 192, 38);
  border-radius: 25px;
  padding: 15px;
  background-color: #fff;
  font-weight: bold;
  width: 100px;
  cursor: pointer;
}

.header-book-btn:hover,
.header-book-btn-signup:hover {
  padding: 20px;
}

.nav-pop-active {
  color: rgb(255, 176, 0);
  height: 100vh;
  width: 150px;
  border-right: #c7c5c5 1px solid;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.sidebar-item {
  margin-bottom: 5px;
  padding: 15px;
  font-size: 15px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: black;
}

.sidebar-item:hover {
  background-color: #97bf0f;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

.sign-out-side {
  padding-left: 15px;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    position: relative;
    width: 100vw;
    height: 27rem;
  }

  .sidebar-list {
    text-align: center;
  }

  .logo {
    justify-self: center;
  }

  .sign-out-side {
    display: none;
  }

  .sidebar-header-icon {
    display: flex;
    justify-content: center;
  }
}
