body {
  margin: 0;
  padding: 0;
}

.nav {
  /* margin-top: 5px; */
  position: fixed;
  width: 100%;
}

.nav-wrapper {
  background-color: rgb(255, 176, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 15px;
}

.header-book-btn-space {
  margin-top: 20px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  height: 100vh;
  transition: left 0.3s ease-in-out;
  border-right: rgba(212, 211, 211, 0.6) 2px solid;
  background-color: rgb(255, 176, 0);
}

.sidebar.show {
  left: 0;
}

.humburger {
  display: none;
}

.nav-pop {
  color: #fff;
  font-weight: bold;
  font-size: 2.5rem;
  cursor: pointer;
}

.nav-search {
  background-color: #fff;
  border-radius: 25px;
  height: 40px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-search-icon {
  color: rgb(255, 176, 0);
  font-size: 1.2rem;
}

.header {
  background-image: url(../images/doctor.png);
  background-size: 700px 553px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(255, 176, 0);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-title {
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.header-book-btn {
  background-color: rgb(140, 192, 38);
  border-radius: 25px;
  padding: 15px;
  color: #fff;
  font-weight: bold;
  width: 100px;
  cursor: pointer;
}

.header-book-btn-signup {
  color: rgb(140, 192, 38);
  border-radius: 25px;
  padding: 15px;
  background-color: #fff;
  font-weight: bold;
  width: 100px;
  cursor: pointer;
}

.header-book-btn:hover,
.header-book-btn-signup:hover {
  padding: 20px;
}

.nav-pop-active {
  color: rgb(255, 176, 0);
  height: 100vh;
  width: 150px;
  border-right: #c7c5c5 1px solid;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  margin-bottom: 5px;
  padding: 15px;
  font-size: 20px;
}

.sidebar-item:hover {
  background-color: rgb(140, 192, 38);
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

.close-nav {
  position: absolute;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  font-weight: normal;
  display: none;
  width: 100px;
  height: 100px;
}
